@font-face {
    font-family: 'Grotesk BQ Light';
    src: url(../assets/fonts/akzidenz-grotesk-bq-light.otf);
}

html, body, a, p, h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
    font-family:  Grotesk BQ Light,Helvetica,Arial !important;
}

.cabecalho > button{
    display: inline-block;
    /*background-color: brown;*/
    padding: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;    
    position: initial;
    margin-top: 10px;
}


.cabecalho {
    /*background-color: blue;*/
    height: 70px;
    width: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 10px 30px rgba(0,0,0,0.08);
    z-index: 1000000;
    display: block;
}

button {
    color: white;
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px 30px;
    margin-right: 20px;
    margin-left: 15px;
    cursor: pointer;
    width: 150px;
}

#btn_cadastro{
    float: left;
}

#btn_login {
    float: right;
}

#btn_sair {
    float: right;
}

.corpo {
    background-image: url("../images/background.png");
    background-size: 400px;
    background-position: center;
    background-repeat: repeat;
    height: 510px;
    width: 100%;
    overflow: hidden;
    z-index: 10;
}

.meio {
    width: 800px;
    height: 800px;
    display: flex;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    margin-top: -100px;
    text-align: center;
}

.meio2 {
    width: 90%;
    height: 90%;
    border: 2px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom,rgba(19,170,82,0.2),#fff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.meio3 {
    width: 88%;
    height: 88%;
    border: 2px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to bottom,rgba(19,170,82,0.2),#fff);
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    margin-top: -25px;
    margin-right: auto;
    margin-left: auto;
}

.meio3 h1{
    color: #116149;
    margin-bottom: 0;
    font-size: 48px;
    line-height: 58px;
    margin: 15px 0;
    box-sizing: border-box;
    display: block;
    margin-block-start: 0,67em;
    margin-block-end: 0,67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.pesquisa {
    height: 100px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.pesquisa > select {
    width: 300px;
    height: 40px;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 4px; 
}
 
.resultados {
    display: flex;
}

.moeda{
    width: 50%;
    height: 150px;
    align-content: center;
    justify-content: center;
    display: grid;
    text-align: center;
}

.moeda.principal {
    float: left;
}

.moeda.secundario {
    float: rigth;
}

#login, #cadastro {
    text-align: center;
    display: none;
}

#login > div, #cadastro > div {
    margin-top: 20px;
}

#login > div > input, #cadastro > div > input {
    margin-top: 10px;
}

#login > button {
    margin-top: 20px;
}

#cadastro > button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-top: 20px;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#cadastrar {
    float: left;
}

